<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{orphanage.name}} | Happy</title>

        <!-- Icon -->
        <link rel="icon" href="./assets/images/logo-icon.png">

        <!-- Style -->
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="./styles/map.css">
        <link rel="stylesheet" href="./styles/buttons.css">
        <link rel="stylesheet" href="./styles/sidebar.css">
        <link rel="stylesheet" href="./styles/animations.css">
        <link rel="stylesheet" href="./styles/orphanage-page.css">

        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap">

        <!-- Leaflet -->
        <link 
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>

        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

        <!-- Script -->
        <script src="./scripts/orphanage-page.js" defer></script>
    </head>
    <body>
        <div id="orphanage-page">
            <aside class="animate-right">
                <img src="./assets/images/map-marker.svg" alt="Happy">
                <footer>
                    <button onClick="history.back()">
                        <img src="./assets/images/arrow-back.svg" alt="Voltar">
                    </button>
                </footer>
            </aside>
            <main class="animate-appear with-sidebar">
                <div class="orphanage-details">
                    <img src="{{orphanage.mainImage}}" alt="{{orphanage.name}}">
                    <div class="images">
                        {{#each orphanage.images}}
                            <button onClick="selectImage(event)">
                                <img src="{{this}}" alt="{{orphanage.name}}">
                            </button>
                        {{/each}}
                    </div>
                    <div class="orphanage-details-content">
                        <h1>{{orphanage.name}}</h1>
                        <p>{{orphanage.about}}</p>

                        <div class="map-container">
                            <div id="mapid"></div>
                            <span
                                data-lat="{{orphanage.lat}}"
                                data-lng="{{orphanage.lng}}"
                                hidden
                                ></span>
                            <footer>
                                <a
                                    target="_blank"
                                    href="https://maps.google.com/mobile?q={{orphanage.lat}},{{orphanage.lng}}&z={15}"
                                    >Ver rotas no Google Maps</a>
                            </footer>
                        </div>

                        <hr>
                        <h2>Instruções para visita</h2>
                        <p>{{orphanage.instructions}}</p>

                        <div class="open-details">
                            <div class="hour">
                                <img src="./assets/images/clock.svg" alt="Horários">
                                Horários de visitas<br>{{orphanage.hours}}
                            </div>
                                {{#if orphanage.weekends}}
                                    <div id="open" class="open-on-weekends">
                                        <img src="./assets/images/info.svg" alt="Informações">
                                        Atendemos nos fins de semana!
                                    </div>
                                {{else}}
                                    <div id="closed" class="open-on-weekends">
                                        <img src="./assets/images/info-red.svg" alt="Informações">
                                        Não atendemos nos fins de semana!
                                    </div>
                                {{/if}}
                        </div>

                        <a 
                            class="primary-button"
                            target="_blank"
                            href="https://api.whatsapp.com/send?l=pt_BR&phone={{orphanage.whatsapp}}">
                                <img src="./assets/images/whatsapp.svg" alt="Chamar no WhatsApp">
                                Entrar em contato
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>